---
import '../styles/_global.scss';
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';
import Navigation from '../components/Navigation.astro';
import BaseLayout from '../layouts/BaseLayout.astro';

const pageTitle = "About Me";

const identity = {
  firstName: "Sarah",
  country: "US",
  occupation: "Technical Writer",
  hobbies: ["photography", "birdwatching", "baseball"],
  };

const skillColor = "crimson";
const fontWeight = 'bold';
const textCase = 'uppercase';
const skills = ["HTML", "CSS", "JavaScript", "React", "Astro", "Writing Docs"];
---
<style is:global define:vars={{ skillColor, fontWeight, textCase }}>
    h1 {
        color: #3b2f95;
    }
    p {
        color: var(--skillColor);
        font-weight: var(--fontWeight);
        text-transform: var(--textCase);
    }
</style>
<BaseLayout pageTitle={pageTitle}>
    <h2>... and my new Astro site!</h2>

    <p>I am working through Astro's introductory tutorial. This is the second page on my website, and it's the first one I built myself!</p>

    <p>My name is {identity.firstName}, and I am from the {identity.country}, working as a {identity.occupation}.</p>
    <p>My hobbies are:</p>
    <ul>
        {identity.hobbies.map(hobby => <li>{hobby}</li>)}
    </ul>
    {identity.hobbies.length > 2 && <p>Wow! That's a lot!</p>}

</BaseLayout>

