---
import { getUrl, ImageSizes } from '@services/ImageHelper.ts';
import BaseLayout from '@layouts/BaseLayout.astro';
import { getHome } from '@services/SanityClient.ts';
const home = await getHome();
---

<BaseLayout pageTitle={home.header}>
    <h1>{home.header}</h1>
    <h2>{home.subheader}</h2>

    <div>
        <p>Look at these cool client logos</p>
        <ul class="logos">{home.logos.map(item => (
          <img src={item} alt="logo"></img>
        ))}
        </ul>
    </div>

    <div>
        <p>These are his featured clients!</p>
        <ul>{home.clients.map(client => (
          <a href=`/work/clients/${client.slug}`>
              <div
                style={`background-image: url(${getUrl(client.splash, ImageSizes['banner'].defaultDownloadWidth)})`}
                class="featured-client">
                  <p><img src={client.logoUrl} aria-hidden="true" alt=`${client.name} logo`/>{client.name}</p>
              </div>
          </a>
        ))}
        </ul>
    </div>

    <div>
        <p>He offers:</p>
        <ul class="services">{home.services.map(service => (
          <li>{service.name} ({service.description})</li>
        ))}</ul>
    </div>
</BaseLayout>

<style>
    .featured-client {
        height: 250px;
    }

    img {
        height: 32px;
    }
    .logos {
        display: flex;
        gap: 1rem;
    }
    a {
        color: #ff80c5;
    }
    .services {
        display: flex;
        flex-direction: column;
    }
</style>
